body {
    background-color: #f2f6e9;
}
div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#missArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: red;
}

.buttonContainer{
    text-align: center;
}