body {
    background-color: #b0b2c5;
}
div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
button {
    text-align: center;
}
#missArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: red;
}

.buttonContainer{
    text-align: center;
}